/*
!/.gitignore

# List of Files that should be included in the git.
!/app
/app/*
!/app/etc
/app/etc/*
!/app/etc/modules
/app/etc/modules/*
!/app/etc/modules/Webmasterei_Magewidgets.xml
!/app/code
/app/code/*
!/app/code/community
/app/code/community/*
!/app/code/community/Webmasterei
/app/code/community/Webmasterei/*
!/app/code/community/Webmasterei/Magewidgets
!/app/design
/app/design/*
!/app/design/frontend
/app/design/frontend/*
!/app/design/frontend/base
/app/design/frontend/base/*
!/app/design/frontend/base/default
/app/design/frontend/base/default/*
!/app/design/frontend/base/default/template
/app/design/frontend/base/default/template/*
!/app/design/frontend/base/default/template/magewidgets
!/app/design/frontend/base/default/layout
/app/design/frontend/base/default/layout/*
!/app/design/frontend/base/default/layout/webmasterei-magewidgets.xml
!/skin
/skin/*
!/skin/frontend
/skin/frontend/*
!/skin/frontend/base
/skin/frontend/base/*
!/skin/frontend/base/default
/skin/frontend/base/default/*
!/skin/frontend/base/default/css
/skin/frontend/base/default/css/*
!/skin/frontend/base/default/css/magewidgets.css
!/skin/frontend/base/default/css/magewidgetstyles.css